.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #520fff;
  color: white;
}

.logoutButton {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid orange;
  border-radius: 16px;
  color: white;
  cursor: pointer;
}
